* {
  box-sizing: border-box;

}

:focus {
  outline:auto;
  outline-style: groove;
  outline-color:  white;
}

body {

  width:100%;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0.25turn,rgb(245, 200, 2),rgb(255, 94, 0));
  
}

input {
  font-size: 1rem;
  width: 40vh;
  
  
}

.search-container {
  position: relative;
}



.search-container input,
.search-container .suggestions {

 

}


.search-container input {

  background-color: rgba(253, 216, 7, 0.973);
  padding: 10px 10px 15px 10px;
  border-style: none;
  border-bottom: 2px groove rgb(255, 94, 0);
  /* border-style: groove;
  */
}
 
.search-container .suggestions {

   /* display: none; */

   z-index: 1;
  
}


ul {

  position: absolute;
  background-color: rgba(44, 7, 253, 0.973);
  overflow: visible;
  top: 100%;
  width: 40vh;
 
  margin-top: 0;
}

ul.has-suggestions {

  display: block;



}


.search-container .suggestions {display:block;}


ul li {


  position: relative;
  left:-40px;
  background-color: rgba(253, 216, 7, 0.973);
  list-style-type: none;
  display: block;
  width: 40vh;
  padding: 10px 10px 10px 10px;

}

ul li:hover {

  background-color: rgb(255, 94, 0);
  
}
/*
input {

} */
